.app-container {
  min-height: 100vh;
<<<<<<< Updated upstream
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 0;
=======
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: none;
>>>>>>> Stashed changes
}

